body {
  background-color: #EEE;
  font: 20px Garamond, serif;
  color: white;
}

a {
  text-decoration: none;
  color:  #ff6666;
  -webkit-text-stroke: none;
}

a:hover {
  color: #4976d0;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

td {
  text-align: center;
}

.comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: #EF0000;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.selected img {
  height: 15px;
}

#add-comment-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

#add-comment-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}


#comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comment-table {
  margin-left: 75px;
  margin-right: 75px;
}

#container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/background3.jpg");
  /* background-repeat: no-repeat; */
  background-size: 100%;
  padding-bottom: 100px;
}

#content {
  padding: 10px;
}

#details-button {
  color: white;
  font-size: 25px;
}

#details-button:hover {
  color: #4976d0;
}

#dk-icon {
  height: 19px;
  border-radius: 5px;
}

#fanduel-icon {
  height: 18px;
  border-radius: 5px;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #999999;
  color: white;
  text-align: right;;
}

#header {
  background-color: white;
  color: black;
  text-align: center;
}

#list {
  font-size: 25px;
}

#logo {
  width: 215px;
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  width: 75%;
  overflow: hidden;
}

#main-show {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  width: 75%;
  overflow: hidden;
  padding-bottom: 300px;
}

#nav {
  width: 180px;
  float: left;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
} 

#nav ul {
  list-style-type: none;
  padding: 0;
}

#nav .selected {
  font-weight: bold;
}

#show-page {
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 25px;
}

#show-prop {
  margin-left: 75px;
  margin-right: 75px;
}


